:root {
	--color-white: hsl(0, 0%, 100%);
	--color-light-gray: hsl(212, 45%, 89%);
	--color-lightish-gray: hsl(211, 32%, 73%);
	--color-grayish-blue: hsl(220, 15%, 55%);
	--color-dark-blue: hsl(218, 44%, 22%);
}

.App {
	text-align: center;
}

.App-header {
	background-color: var(--color-light-gray);
	min-height: 100vh;
	display: grid;
	place-items: center;
	font-size: calc(10px + 2vmin);

	margin: 0;
	padding: 0;
}

.container {
	width: 18.75rem;
	height: auto;
	background-color: var(--color-white);
	border-radius: 1rem;

	color: var(--color-dark-blue);
	box-shadow: 0rem 0rem 0.625rem 0.3125rem var(--color-lightish-gray);
}

.qr-code {
	width: 90%;
	height: auto;
	margin-top: 5%;
	border-radius: 0.5rem;
}

.title {
	font-weight: 700;
	padding: 0 1.4rem;
}

.text {
	color: var(--color-grayish-blue);
	font-size: 0.9375rem;
	font-weight: 400;
	padding: 0 1.5rem;
	margin-bottom: 2rem;
}
